* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /*Degradado de colores a la pagina*/
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /*Grip para la estructura de la página*/
  display: grid;
  grid-template-areas:
    "head"
    "nava"
    "asid"
    "main"
    "foot";
}

nav {
  grid-area: nava;
  margin-bottom: 2rem;
}

nav ul{display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
nav ul li {
margin: 1rem;
}
main{
  grid-area: main;
  display: flex;
  flex-direction: column;
}


form{display: block;
align-self: center;}

.wish-input {
  border: 0;
  border-bottom: 3px dashed grey;
  padding: 0;
}
.wish-input_label {
font-weight: 700;
}
.wish-input_field {
  width: 100%;
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: transparent;
}
.wish-list {
  list-style: none;
  padding: 0;
}
.wish-list_item {
display: flex;
font-size: 1.2rem;
align-items: center;
}
.wish-list_item > * + * {
margin-left: 1rem;

}
.wish-list_item input{
width: 2rem;
height: 2rem;
}

.wish-list_item--done label{
text-decoration: line-through;
}

.wish-clear {
  width: 100%;
  padding: 0.5rem;
  background: white;
  font-size: 1.2rem;
  border: 1px solid grey;
  border-radius: 3px;
}

table {
  border: 0.1rem solid black;
}

